flows.json
[{"id":"ee77cdcc.ff7bb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"afc8d30b.ad0f5","type":"function","z":"ee77cdcc.ff7bb","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"re\",msg.payload.re)\nvar apikey=\"YMAO__Urz2zTSuoKw14JHikMZgfonJDdrAunE7IspRtv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["e18f3413.a0ba38"]]},{"id":"22000c1f.2c7834","type":"function","z":"ee77cdcc.ff7bb","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar se = global.get('se')\nvar bm = global.get('bm')\nvar ch = global.get('ch')\nvar sm = global.get('sm')\nvar re = global.get('re')\nvar token=msg.payload.access_token\nvar instance_id=\"ba565b1e-ad16-4931-baa4-dc295288c8a7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",\"region\"], \"values\": [[ag,se,bm,ch,sm,re]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":340,"wires":[["6acc58f3.536a28"]]},{"id":"9111763a.22ce08","type":"ui_form","z":"ee77cdcc.ff7bb","name":"","label":"","group":"ed0ffb0b.1e7c38","order":0,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true,"rows":null},{"label":"sex","value":"se","type":"text","required":true,"rows":null},{"label":"bmi","value":"bm","type":"number","required":true,"rows":null},{"label":"children","value":"ch","type":"number","required":true,"rows":null},{"label":"smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"region","value":"re","type":"text","required":true,"rows":null}],"formValue":{"ag":"","se":"","bm":"","ch":"","sm":"","re":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["afc8d30b.ad0f5"]]},{"id":"82823c63.a3bd9","type":"ui_text","z":"ee77cdcc.ff7bb","group":"ed0ffb0b.1e7c38","order":1,"width":0,"height":0,"name":"","label":"charges","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"6acc58f3.536a28","type":"http request","z":"ee77cdcc.ff7bb","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5fbc69f5-77ff-4958-9d31-635f2a26e130/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["72116207.d7704c"]]},{"id":"e18f3413.a0ba38","type":"http request","z":"ee77cdcc.ff7bb","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["22000c1f.2c7834"]]},{"id":"903aae37.62d3e","type":"debug","z":"ee77cdcc.ff7bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"72116207.d7704c","type":"function","z":"ee77cdcc.ff7bb","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["82823c63.a3bd9","903aae37.62d3e"]]},{"id":"8b49d8d3.3981f8","type":"inject","z":"ee77cdcc.ff7bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":320,"wires":[["afc8d30b.ad0f5"]]},{"id":"ed0ffb0b.1e7c38","type":"ui_group","z":"","name":"Default","tab":"edbbbcb2.cd6ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"edbbbcb2.cd6ec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]